<!-- copied from addcategory -->

{%extends 'layout.html'%}
{%load crispy_forms_tags %}

{%block title%}
<title>Update Category</title>
{%endblock%}


{%block main_content%}
<!-- mt - margin top -->
<div class="container mt-3">
    <!-- form biccha ma leuna -->
    <div class="row d-flex justify-content-center">
        <!-- used from bootstrap -->
        <div class="col-md-6 border border-3 border-primary ">
            <div class="text-center">
                <h2>Update Category</h2>
                {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                <!-- -success =>success ko green color dekhauna -->
                <div class="alert alert-success">
                    {{msg}}
                </div>
                {% endif %}
                <!-- copied -->
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <!-- success ko green color dekhauna -->
                <!-- -danger => red color -->
                <div class="alert alert-danger">
                    {{msg}}
                </div>
                {% endif %}
                {% endfor %}



                <!-- p-3 = padding -->
                <!-- method: post,get,put,delete,view...etc -->
                <form action="" method="post" class="shadow-lg p-3">
                    <!-- for security -->
                    {%csrf_token %}
                    {{ form | crispy }}
                    <div class="mt-3">
                        <input type="submit" value="Update Category" name="" id=""
                        class="btn btn-primary">
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
{%endblock%}