<!-- made one single navbar and footer in layouts and copied here -->
{% extends 'client/layouts.html' %}
<!-- pasted from layouts.html -->
{%block title%}
<title>Homepage</title>
{%endblock%}
{%block main%}

<div class="container-fluid mt-5">
    <div class="justify-content-center d-flex">
        <div class="col-md-6">
            <h1>You are being directed to esewa payment...Please wait</h1>
            <div class="p-2" style="display: none;">
            </div>
            <!-- https://developer.esewa.com.np/#/epay?id=payment -->
            <form action="https://uat.esewa.com.np/epay/main" method="POST" id="esewa_form" >
                <input value="{{order.total_price}}" name="tAmt" type="hidden">
                <input value="{{order.total_price}}" name="amt" type="hidden">
                <input value="0" name="txAmt" type="hidden">
                <input value="0" name="psc" type="hidden">
                <input value="0" name="pdc" type="hidden">
                <input value="EPAYTEST" name="scd" type="hidden">
                <input value="{{order.id}}_{{cart.id}}" name="pid" type="hidden">
                <!-- su => success -->
                <input value="http://127.0.0.1.8000/esewa_verify" type="hidden" name="su">
<!-- fu => fail -->
                <input value="{{request.build_absolute_uri}}" type="hidden" name="fu">
                <input value="Submit" type="submit">
                </form>
        </div>
    </div>
</div>
<!-- JavaScript -->
<script>
    setTimeout(function(){
        document.getElementById("esewa_form").submit()
    },1000)
</script>
{%endblock%}